.flex{
    display: flex;
    width: 70%;
    margin:60px auto;
}
.my_table{
    text-align: center;
    margin: auto;
}

.my_icon{
    text-align: center;
}

.my_title{
    font-size: 2.5rem;
    color: #0056BB;
    text-decoration: underline; /* 下線 */
    text-decoration-thickness: 0.5em; /* 線の太さ */
    text-decoration-color: #FFFF31; /* 線の色 */
    text-underline-offset: -0.2em; /* 線の位置 */
    text-decoration-skip-ink: none; /* 下線と文字列が重なる部分でも下線が省略されないようにする */
}

.my_nic{
    color: #0056BB;
    font-size: 1.5rem;
}

.my_user_name{
    font-size: 2rem;
}

.my_img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* object-fit: none;
    object-position:54% 36%; */
}

.my_personal{
    box-shadow: 0 0 5px gray;
    width: 600px;
    height: auto;
    margin-right: auto;
    border-radius: 10px;
    min-height: 250px;
}

.my_qualification{
    box-shadow: 0 0 5px gray;
    width: 600px;
    height: auto;
    margin-left: auto;
    border-radius: 10px;
    min-height: 250px;  
}

.my_per_table{
    width: 90%;
    margin: 10px auto;

}

.my_per_table_title{
    font-size: 1.8rem;
    color: #0056BB;
    text-align: center;
    width: 0;
    white-space: nowrap;/*折り返しをさせない*/
    padding: 0 10px;
}

.my_per_table_child{
    padding-left: 50px;
    font-size: 1.2rem;
}

.my_input_sub{
    width: 200px;
    height: 50px;
    margin: 0 auto;
}

/*btnのデザイン関連*/
  .btn-rounded {
    display: inline-block;
    padding: 12px 50px; /* 少し大きめのパディング */
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #17a2b8; /* 少し落ち着いた青 */
    border: none;
    border-radius: 30px; /* 大きな角丸 */
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
  }

  .btn-rounded:hover {
    background-color: #138496;
  }
  /*ここまで*/